body{
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
}

h2{
    font-size: 65px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    padding: 30px;

    small{
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        color: #6b6060c4;

    }
    @media(max-width:1024px) {
        font-size: 48px;

    }
}

h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: black;
}
.skills{
    .holder-blue{
        background-color:  #A3D9E1;
        border-radius: 30px;
        padding:30px;
        display:flex;
        @media(max-width:1024px){
            flex-direction: column;
        }
        .left-column{
            flex:1;
            ul{
                list-style-type: none;
                gap:10px;
                margin-right: 100px;
                margin-bottom: 20px;
                li{
                    display: inline-block;
                    background-color:#D1F1F7 ;
                    padding: 10px 20px;
                    border-radius: 15px;

                }
            }
        }

        .right-column{
            flex:1;
            p{
                margin-bottom: 20px;

            }
            
        }
    }
}
  